<div class="container">
	<div class="header">
		<h1>Voicemail</h1>
	</div>
	<div class="voicemails">
		<div *ngFor="let vm of voicemailList" class="voicemail">
			<div class="playback-control">
				<div *ngIf="vm.isLoading" class="spinner-group">
					<div class="spinner"></div>
					<div class="spinner delay-1"></div>
					<div class="spinner delay-2"></div>
				</div>
				<img [hidden]="!vm.isLoading" src="./assets/circle-outline.svg" alt="Play voicemail" (click)="play(vm)">
				<img [hidden]="vm.isLoading || (vm.audio && !vm.audio.paused)" src="./assets/play-outline.svg" alt="Play voicemail" (click)="play(vm)">
				<img [hidden]="!vm.audio || vm.audio?.paused" src="./assets/pause-outline.svg" alt="Pause voicemail" (click)="pause(vm)">
				<div *ngIf="vm.isNew" class="new"></div>
			</div>
			<div class="call-record" *ngIf="!vm.audio">
				<uwt-call-record
					[callerId]="vm.callerId"
					[durationSeconds]="vm.durationSeconds"
					[utcTimestamp]="vm.utcCreatedOn">
        </uwt-call-record>
			</div>
			<div class="call-record flex" *ngIf="vm.audio">
				<div class="voicemail-playback">
					<div class="number small">{{ vm.callerId }}</div>
					<uwt-seekbar [progress]="vm.audio.currentTime / vm.audio.duration * 100" (seekPosition)="seek($event)"></uwt-seekbar>
					<div class="playback-time">{{ vm.audio.currentTime | timer }} / {{ vm.audio.duration | timer }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
