.gcfctd-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .2s;
}

.gcfctd-container:hover {
    text-decoration: underline;
    filter: brightness(40%);
}

.gcfctd-call-button {
    width: 14px;
    height: 14px;
    margin-left: 5px;
    cursor: pointer;
}